.mainbody .dataListCard.userInfoBox {
    min-height: 417px;
}

.tradelinks.active {
    display: block;
}

.pricechart-iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.reffral_link {
    cursor: pointer;
    font-size: 12;
}